:root {
  --core-bg: #222429;
  --dark-bg: #0F0F13;
  --primary: #1B1B1F;
  --secondary: #17171B;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.app {
  position: absolute;
  left: 0;
  border-radius: 4px;
  width: 150%;
  max-width: 1000px;
  height: 800px;
  background: var(--core-bg);
  border: 2px solid var(--primary);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.c-sidepanel {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(50px, 1fr) minmax(250px, 4fr);
  grid-template-columns: minmax(50px, 1fr) minmax(250px, 4fr);
}

.c-panels {
  height: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
  background: var(--secondary);
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.c-panels__logo {
  color: var(--white);
  text-decoration: none;
  font-size: 10px;
  border-radius: 100rem;
  border: 1px solid var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 1rem auto;
}

.c-panels__navigation {
  -ms-grid-row: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.c-panels__li {
  list-style: none;
  margin: 1.7rem 0;
}

.c-panels__link {
  color: rgba(255, 255, 255, 0.5);
}

.c-panels__link:hover {
  color: white;
}

.c-users {
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1, 2;
  background: var(--dark-bg);
  padding: 1rem;
}

.c-users__search {
  padding: .5rem .5rem .5rem 1rem;
  border-radius: 4px;
  border: 0;
  width: 100%;
  background-color: var(--core-bg);
  position: relative;
  font-size: 14px;
  color: var(--white);
}

.c-group-title {
  color: var(--white);
  font-size: 13px;
  text-transform: uppercase;
  margin: 1rem 0;
  color: white;
  display: block;
  position: relative;
  font-weight: 400;
}

.c-group-title .fa-plus,
.c-group-title .fa-chevron-down,
.c-group-title .fa-chevron-right {
  color: var(--white);
  position: absolute;
  right: 0;
}

.c-users__person {
  margin: 1rem 0;
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.c-users__person:before {
  width: 25px;
  height: 25px;
  border-radius: 100rem;
  background: #235789;
  content: 'AM';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 9px;
  margin-right: 1rem;
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.c-users__person:nth-child(2):after {
  content: '4';
  background-color: #FF3366;
  opacity: .6;
  color: var(--white);
  padding: 0 .5rem;
  border-radius: 4px;
  position: absolute;
  right: 0;
}

.c-users__person:nth-child(2):before {
  background: #F1D302;
  color: var(--dark-bg);
}

.c-users__person:nth-child(3):before {
  background: #C1292E;
}

.c-users__person:hover {
  color: white;
}

.c-users__person:hover:before {
  font-size: 8px;
}

.c-users__person:hover:after {
  opacity: 1;
}

.c-tags {
  margin: 0 .4rem;
}

.c-tags li {
  list-style: none;
  color: var(--white);
  font-size: 14px;
  margin: 1rem 0;
  opacity: .5;
}

.c-tags li .fa-hashtag {
  margin-right: .8rem;
}

.c-tags li:hover {
  opacity: 1;
}

.c-chat__header {
  padding: 1rem 1rem 1rem 3rem;
  border-bottom: 1px solid var(--primary);
}

.c-chat__header--left {
  padding: 1rem;
}

.c-chat__header h1 {
  position: relative;
}

.c-chat__title {
  color: var(--white);
}

.c-chat__title p,
.c-chat__title button {
  margin-top: .5rem;
}

.c-chat__title p {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
}

.c-chat__title button {
  background: transparent;
  border: 0;
  color: var(--white);
  margin-left: 1rem;
}

.c-chat__title button .fa-plus {
  margin-right: .2rem;
}

.c-chat__title .fa-hashtag {
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: -2rem;
  top: 5px;
}

.c-chat__window {
  width: 696px;
  overflow-x: hidden;
  max-height: 550px;
}

.c-chat__icon {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  background: #FF3366;
  position: absolute;
  left: 15px;
  top: 5px;
}

.c-chat__msg {
  color: var(--white);
  font-size: 12px;
  padding: 0 0 0 4rem;
  position: relative;
}

.c-chat__msg span {
  margin: .5rem 1rem .2rem 0rem;
}

.c-chat__msg p {
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.6);
}

.c-chat__msg time {
  opacity: .3;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-chat__msg time:before {
  content: '';
  width: 5px;
  height: 5px;
  background: var(--white);
  border-radius: 100rem;
  display: inline-block;
  margin-right: .5rem;
}

.c-chat__text {
  padding: 1rem;
  border-bottom: 1px solid var(--primary);
}

.c-chat-info {
  border-left: 1px solid var(--primary);
}

.c-chat__options {
  padding: 1rem;
}

@media only screen and (max-width: 900px) {
  .app {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
  }

  .c-chat-info {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .app {
    -ms-grid-columns: 50px 1fr;
    grid-template-columns: 50px 1fr;
  }

  .c-users {
    display: none;
  }
}

/*# sourceMappingURL=chat.css.map */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}


.fileUpload {
  right: 35%;
  position: absolute;
  top: 755px;
  overflow: hidden;

}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #ffff;
}

.btn--browse {
  border-left: 0;
  border-radius: 0 2px 2px 0;
  background-color: rgb(41, 92, 202);
  color: rgb(255, 255, 255);
  height: 42px;
  padding: 10px 14px;

}

.f-input {
  height: 42px;
  background-color: white;
  border: 1px solid gray;
  width: 100%;
  max-width: 400px;
  float: left;
  padding: 0 14px;
}